html {
  font-family: "abhaya Libre", serif;
}
.masthead {
  background-color: #423ca3;
  color: #fff;
}

.nav a:hover {
  background-color: #fff;
  color: #000;
}

.nav a {
  background-color: #15114c;
  color: #fff;
  border: none;
}

.btn {
  background-color: #15114c;
  border-color: #15114c;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #423ca3;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

@media only screen and (min-width: 60em) {
  .logo {
    text-align: left;
  }
  
}
